<div class="about-banner">
  <div class="about-banner-content">
    <header>
      <h1>About Ian Steffy</h1>
      <h2>Front End Developer</h2>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="right-column">
      <aside class="author group">
        <div class="avatar social">
          <img src="img/myBanner.jpg" width="140" height="140">
        </div>
        <div class="bio">
          <p class="bio-info">            
            A graduate of Franklin and Marshall College and Bitmaker Labs, Ian combines his education with 1.5 years commercial experience in HTML5, CSS3, JavaScript, jQuery, Ember.js, Angular.js, ios development and design to construct creative and effective web applications.
          </p>
          <a class="button full" href="#contact" title="Send a message or schedule time for your project"> Hire now. <i class="fa fa-check-circle-o "></i>
          </a>
        </div>
      </aside>

    </div>
  </article>
  <article>
  <div class="content">
    <h2 id="skills">Skills</h2>
    <p>
      As a graduate of Franklin and Marshall College of liberal arts and Bitmaker Labs intensive school for rapid web development with 1.5 years working in various web & ios app related roles, I have a wide range of skills; front end development, design, and ios development and production.
    </p>
    <p>
      I mainly take on front end projects & with experience in these three foundations, I am able to work on a project with the entire scope in mind.
    </p>
    <h3 id="front-end-development">Front End Development</h3>
    <div class="logos">
      <div class="logo">
        <img src="img/css3.jpg" alt="css3" width="80" height="91" class="alignnone size-full wp-image-3247">
        <strong>CSS3</strong>
      </div>
      <div class="logo">
        <img src="img/html5.jpg" alt="css3" width="80" height="91" class="alignnone size-full wp-image-3247">
        <strong>HTML5</strong>
      </div>
      <div class="logo">
        <img src="img/js.jpg" alt="css3" width="80" height="91" class="alignnone size-full wp-image-3247">
        <strong>JavaScript</strong>
      </div>
    </div>
    <p>
      I build web applications that allow the user to experience your websites in the most effective and appropriate way suited to the device that they are using. By working using <strong>progressive enhancement</strong> a web application is created with a <strong>responsive layout</strong> that can best fit the space available on the smallest to largest devices.<strong>Cross browser compatibility</strong> is delivered by using feature detection so older browers still in use today provide a solid experience, while modern browers can take the next step forward and enhance the users time spent on your web application.
    </p>
    <p>
      Writing <strong>semantic markup</strong> that is well documented and easy to read means it can be maintained and scaled in the future, and allows co-workers to quickly pick it up.
    </p>
    <h2 id="rankings">Rankings</h2>
    <table>
      <thead>
        <tr>
          <td>Languages</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>HTML5</td>
          <td>5/5</td>
        </tr>
        <tr>
          <td>CSS3</td>
          <td>5/5</td>
        </tr>   
        <tr>
          <td>JavaScript</td>
          <td>5/5</td>
        </tr>
        <tr>
          <td>jQuery</td>
          <td>5/5</td>
        </tr>
        <tr>
          <td>Xcode</td>
          <td>4/5</td>
        </tr>   
        <tr>
          <td>Ruby</td>
          <td>4/5</td>
        </tr>          
      </tbody>
      <thead>
        <tr>
          <td>Web Frameworks</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ember.js</td>
          <td>4/5</td>
        </tr>
        <tr>
          <td>Angular.js</td>
          <td>4/5</td>
        </tr>
        <tr>
          <td>Rails.js</td>
          <td>4/5</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td>Version Control / Management</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Git / Github</td>
          <td>5/5</td>
        </tr>
        <tr>
          <td>SVN / Cornerstone</td>
          <td>4/5</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td>Agile Scrum Project Management Tools</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Trello</td>
          <td>5/5</td>
        </tr>
        <tr>
          <td>Asana</td>
          <td>5/5</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
</div>
