<div class="about-banner">
  <div class="about-banner-content">
    <header>
      <h1>About Ian Steffy</h1>
      <h2>Front End Developer</h2>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="right-column">
      <aside class="author group">
        <div class="avatar social">
          <img src="img/myBanner.jpg" width="140" height="140">
        </div>
        <div class="bio">
          <p class="bio-info">            
            A graduate of Franklin and Marshall College and Bitmaker Labs, Ian combines his education with 1.5 years commercial experience in HTML5, CSS3, JavaScript, jQuery, Ember.js, Angular.js, ios development and design to construct creative and effective web applications.
          </p>
          <a class="button full" href="#contact" title="Send a message or schedule time for your project"> Hire now. <i class="fa fa-check-circle-o "></i>
          </a>
        </div>
      </aside>

    </div>
  </article>
</div>
<div class="content">
  <h2 id="skills">Skills</h2>
  <p>
    As a graduate of Franklin and Marshall College of liberal arts and Bitmaker Labs intensive school for rapid web development with 1.5 years working in various web & ios app related roles, I have a wide range of skills; front end development, design, and ios development and production.
  </p>
  <p>
    I mainly take on front end projects & with experience in these three foundations, I am able to work on a project with the entire scope in mind.
  </p>
  <h3 id="front-end-development">Front End Development</h3>
  <div class="logos">
    <div class="logo">
    </div>

  </div>
</div>