<div class="two-column group">
  <article>
    <div class="right-column">
      <aside class="author group about contact">

      </aside>
    </div>
    <div class="content uptop">
      <div class="wpcf7" id="wpcf7-f134-p10-o1">
        <form action="MAILTO:isteffy@hotmail.com" method="post" enctype="text/plain">
          <h2>About you</h2>
          <p>Your name<span class="required">*</span><br>
            <span class="wpcf7-form-control-wrap name"><input type="text" name="Your name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="eg. Ian Steffy"></span> 
          </p>
          <p>Email address<span class="required">*</span><br>
            <span class="wpcf7-form-control-wrap email"><input type="email" name="Email address" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="eg. isteffy@hotmail.com"></span> 
          </p>
          <div class="group">
            <p class="half">Telephone number or Skype username<br>
              <span class="wpcf7-form-control-wrap contact"><input type="text" name="Telephone number or Skype username" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="eg. +1 717 606 6685 or ian.steffy"></span> 
            </p>
            <p class="half">Your website<br>
              <span class="wpcf7-form-control-wrap website"><input type="text" name="Your website" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="eg. iansteffy.co.com"></span> 
            </p>
          </div>
          <p>How did you hear about iansteffy.com?<br>
            <span class="wpcf7-form-control-wrap hear"><input type="text" name="Where you found me" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="eg. Google, Twitter, magazine article, etc"></span>
          </p>
          <h2>Project details</h2>
          <p class="note">When contacting Ian regarding a project, please specify a budget and ideal start date.</p>
          <div class="group">
            <p class="half">Ideal Budget<br>
              <span class=""><input type="text" name="ideal budget" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
            </p>
            <p class="half">
              Start date<br>
              <span class="timeline">
                <select name="Start Date" class="" aria-invalid="false">
                  <option value="Please select">Please select</option>
                  <option value="within 1 month">within 1 month</option>
                  <option value="1 - 2 months">1 - 2 months</option>
                  <option value="2 - 3 months">2 - 3 months</option>
                  <option value="3+ months">3+ months</option>
                </select>
              </span>
            </p>
          </div>
          <h2>Message/Project description<span class="required">*</span></h2>
          <p><span class="wpcf7-form-control-wrap your-message">
            <textarea name="Message/Project Description" cols="40" rows="10" class="" aria-required="true" aria-invalid="false"></textarea>
          </span></p>
          <p></p>
          <button class="send button" type="submit" value="Send">Send
            <i class="fa fa-check-circle-o "></i>           
          </button>
          <p></p>
          <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
      </div>
    </div>
  </article>
</div>