<div class="intro" style="background-color: Black; color: #fff;">
  <div class="intro-content">
    <div class="featured-image"><a href="https://itunes.apple.com/us/app/id946275049?mt=8"><img id="dogedots-logo" src="img/dogedots-logo.png" ></a></div>      
    <header class="with-image">
      <div class="header-divider" style="border-left-color: #fff">
        <h1 class="project-title"><a href="https://itunes.apple.com/us/app/id946275049?mt=8">Doge Dots</a></h1>
        <h2 class="project-subtext">Design, XCode, Responsive, ASO, Animation, App Publishing</h2>
      </div>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="content">
      <div href="http://viewpointcloud.com/" class="project-banner2" class="picture-container">
          <a href="https://itunes.apple.com/us/app/id946275049?mt=8"><img src="img/doge1.jpg"  class="carousel-item"></a>
          <!-- <img src="img/doge2.jpg"  class="carousel-item">   -->      
      </div>
<!--       <p class="project-banner-caption-text">The Doge Dots game viewed in tablet and smart phone layouts</p> -->
      <p class="project-description2">Play Doge Dots (pronounced 'dohj') on the IOS App Store and link your way to victory! Connect vertically or horizontally for combo points & coins. Connect your line back to the original dot your finger started at to form at least a square, and reach the highest possible score like the bamf you are! Focus your mind, and chain together as many Doge as you can. The power is yours! 

      For ages 4 years and older

      <a class="skreens-style" href=" https://www.youtube.com/watch?v=ttG8I67ljvI">Doge Dots Gameplay</a>
      </p>

      <h2>My Role</h2>
      <p>
        Designing Doge Dots was my first experience in both the ios development world and design. A game inspired by fanatically popular Doge (which has it's own <a href="http://dogecoin.com/" class="skreens-style">currency</a>. ) 

        Doge Dots was a test in responsive design,
      </p>
      <hr>


      <p><a class="button action" title="Contact" href="#contact">Hire Ian to work on your project</a></p>
    </div>
  </article>
</div>

