<div class="intro" style="background-color: #333; color: #fff;">
  <div class="intro-content">
    <div class="featured-image"><a href="https://itunes.apple.com/us/app/id946275049?mt=8"><img id="dogedots-logo" src="img/dogedots-logo.png" ></a></div>      
    <header class="with-image">
      <div class="header-divider" style="border-left-color: #fff">
        <h1 class="project-title"><a href="https://itunes.apple.com/us/app/id946275049?mt=8">Doge Dots: A fun Connect the Line game</a></h1>
        <h2 class="project-subtext">Design, XCode, Responsive, ASO, Animation, App Publishing</h2>
      </div>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="content">
      <div href="http://viewpointcloud.com/" class="project-banner2" class="picture-container">
          <a href="https://itunes.apple.com/us/app/id946275049?mt=8"><img src="img/doge1.jpg"  class="carousel-item"></a>
          <!-- <img src="img/doge2.jpg"  class="carousel-item">   -->      
      </div>
<!--       <p class="project-banner-caption-text">The Doge Dots game viewed in tablet and smart phone layouts</p> -->
      <p class="project-description2">Play Doge Dots (pronounced 'dohj') on the IOS App Store and link your way to victory! Connect vertically or horizontally for combo points & coins. Connect your line back to the original dot your finger started at to form at least a square, and reach the highest possible score like the bamf you are! Focus your mind, and chain together as many Doge as you can. The power is yours! 

      For ages 4 years and older

      <a class="skreens-style" href=" https://www.youtube.com/watch?v=ttG8I67ljvI">Doge Dots Gameplay</a>
      </p>

      <h2>My Role</h2>
      <p>
        Designing Doge Dots was my first experience in both the ios development world and design. A game inspired by fanatically popular Doge, which even has it's own <a href="http://dogecoin.com/" class="skreens-style">currency</a>.   
      </p>
      <p>
        The game was designed with simplicity in mind. The goal was to have even the youngest player to know the rules of the game just by knowing the title of the game "A fun Connect the Lines game" and by seeing the colored doges in the gameboard, inspired by the Yoshi's of the second Super Mario World. 
      </p>
      <p>
        Photoshop was an incredible tool in crafting the screenshots that would be seen in the ios store. 
      </p>
      <p>
        Keywords (ASO) played a huge role in ensuring that my app was easily found through organic searches. Choosing keywords was not just about the typical words that would be searched, but also about being compared to the other keywords around them (making longtailed keywords) and how competetive the keywords were. Sensor Tower and App Annie helped me research keywords that were popular enough that people searched for them on a frequent basis, but not so popular in that too many other apps would rank higher than my app and my game would be the 100th game on a long list of search results. 
      </p>
      <hr>


      <p><a class="button action" title="Contact" href="#contact">Hire Ian to work on your project</a></p>
    </div>
  </article>
</div>

