<div class="intro" style="background-color: #333; color: #fff;">
  <div class="intro-content">
    <div class="featured-image"><a href="http://www.meventi.de/"><img id="meventi-logo" src="img/meventi-logo.png" ></a></div>      
    <header class="with-image">
      <div class="header-divider" style="border-left-color: #fff">
        <h1 class="project-title"><a href="http://www.meventi.de/">meventi : Besonderes erleben</a></h1>
        <h2 class="project-subtext">PHP, LESS, CSS3, jQuery, version control, HTML5, JavaScript, Design, Photoshop, Git, Github, Responsive </h2>
      </div>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="content">
      <div class="project-banner vp-banner" class="picture-container">
          <a href="http://www.meventi.de/event-10809-43737-Ballonfahrt-Borken.html"> 
            <img src="img/meventi-banner.png" style="border: 1px solid rgb(241,144,22)"  class="desktop-img">
            <img src="img/meventi1.png" style="border: 1px solid rgb(241,144,22); top: 50px; right: 10px;" class="mobile-img">      
          </a>
      </div>
      <p class="project-description2"><a href="http://www.meventi.de/" style="color: rgb(241,144,22);">meventi</a> is ranked by the Deutches Institut Für Service & Quality as the #1 place to buy Premium Experience Gifts.

      Whether you want to sky-dive or take your significant other on a romantic dinner in the dark, meventi has a gift for all shapes and sizes.
      
      </p>

      <h2>My Role</h2>
      <p>
        A frontend developer and designer who also delt with the Server-side scripting language PHP. Sometimes our CEO Robert Seeger would send me on missions to revamp an entire page on all browser sizes, mobile first, like footer at the bottom of every page or the tiles on the <a style="color: rgb(241,144,22);" href="http://www.meventi.de/suche.html?q%5Bquery%5D=fallschirm&q%5Bprice_range%5D%5Bfrom%5D=*&q%5Bprice_range%5D%5Bto%5D=*">search page</a>.
      </p>
      <p>
       Often I find my own places of improvement for meventi like revamping the <a style="color: rgb(241,144,22);" href="http://www.meventi.de/event-4425-16798-Fallschirm-Tandemsprung-Barth.html">product page</a> which, according to our site statistics, was originally a place where a lot of customers would exit the page. Since the revamp, the % of customers who leave meventi through this page has dropped by the double digits. 
      </p>
      <p>
        Using github's issues, I would detail and discuss my plan for design and development. I am notorious for writing a lot but this left little to be questioned as more detail is always better than less :)
        <img src="img/github-issues.png"  class="carousel-item">
      </p>
      <p>
        Photoshop has been a life-saver when it came to mass cropping hundreds of images using Actions or editing a single simple image like the bow at the bottom of meventi's homepage.
      </p>
      
      <hr>


      <p><a class="button action" title="Contact" href="#contact">Hire Ian to work on your project</a></p>
    </div>
  </article>
</div>

