<section>
   <div id="page-title-header" class="home">
      <div id="city-header-image">
      </div>
      <div class="myBannerSheets">
      </div>
      <img alt="Ian talking with Anish (he's super cool)" class="steffy-drop" src="img/myBanner.jpg">
      <img alt="a door at the top of the mountain!" class="steffy-drop2" src="img/myBanner2.png">
      <img alt="DEVELOPMENT. DESIGN. DIRECTION. " class="city-logo" src="img/myPitch.png">
      <img alt="my webpage splashpage drop" class="city-drop" src="img/myBannerBlanket.png">
      <button id="splash-registration-button" class="city-title-registration-button small-centered columns hide-for-medium-up">               
         <div class="register-now">Message Ian &gt;</div>                     
      </button>
   </div>
</section>      
<section id="image-scroll-wrapper" class="show-for-medium-up">
   <div class="text-section ">               
      <h4>Building responsive & effective web applications</h4>
      <p class="pitch-text">Specializing in <b>HTML5, CSS3, Responsive Design, Animation </b> and <b>Javascript</b></p>
   </div>
</section>
<div class="city-selection-wrapper show-for-medium-up">
   <div id="vancouver-selector" class="city-selection-box outer">
      <div class="selector">                                       
         <div class="colored-block" style="background-color:#f0ad4e"></div>                
      </div>
   </div>
   <div id="calgary-selector" class="city-selection-box">
      <div class="selector">                                      
         <div class="colored-block" style="background-color:#6b4d8d"></div>                  
      </div>
   </div>
   <div id="london-selector" class="city-selection-box">
      <div class="selector">                               
            <div class="colored-block" style="background-color:#4F719D"></div>                
      </div>
   </div>
   <div id="toronto-selector" class="city-selection-box outer">
      <div class="selector">                     
         <div class="colored-block" style="background-color:#29b783"></div>                 
      </div>
   </div>
</div>
<div class="group">
   <section class="featured work">
      <h2>Portfolio</h2>
      <ul class="three-up">
         <li ng-repeat="project in projects">
            <a ng-href="#/{{project.linkUrl}}" style="background-color: {{project.backgroundColor}};">
               <img src="{{project.imgUrl}}" alt="">
            </a>
            <h3>{{project.description}}</h3>
         </li>
      </ul>
   </section>
</div>