<div class="intro" style="background-color: #00a7e1; color: #fff;">
  <div class="intro-content">
    <div class="featured-image"><img id="viewpoint-logo" src="img/viewpoint-logo.png" ></div>      
    <header class="with-image">
      <div class="header-divider" style="border-left-color: #fff">
        <h1 class="project-title">ViewPoint Cloud</h1>
        <h2 class="project-subtext">HTML5, CSS3, JQuery, Javascript, Ember, Handlebars</h2>
      </div>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="content">
      <div href="http://viewpointcloud.com/" class="project-banner" class="picture-container">
          <img src="img/vpc-desktop.jpg"  class="desktop-img">
          <img src="img/vpc-mobile.jpg"  class="mobile-img">        
      </div>
      <p class="project-banner-caption-text">The ViewPoint Cloud site viewed in large and small layouts</p>
      <p class="project-description">ViewPoint Cloud offers simple, flexible online permitting for citizens and officials. ViewPoint Cloud comes preloaded with the most common permits and licenses, ready to go. Create new ones in minutes with the form and workflow designers. Ditch paper forms and let citizens apply online from anywhere. Manage the entire application process from one simple online system and let citizens track every step of the way in real time. See data on permits, inspections, revenue and more. Drill down from a high-level dashboard to detailed list or map views. And export your data to Excel for easy processing.
      </p>

      <!-- <h2>Building a Responsive Layout and Natural Experience</h2> POTENTIAL TEXT
      <p>Layouts were created using a “mobile-up” methodology, meaning the smallest layout was created first, and then built upon using media queries to change the layout as it grows to larger sizes. By working in this way, devices with lesser processing power (and most likely less Internet bandwidth) are doing the minimal amount of work necessary to display the page — allowing the user to navigate the site quicker. I used the open-source respond.js library to apply a fix for older browsers that don’t support media queries.</p> -->
      <h2>Progressive Enhancement</h2>
      <p class="">With the layout built, I then began progressively enhancing the site to add features to give the site a unique experience.</p>
      <p class="">Elements such as links snap between two colours when hovered over so the user knows the element can be interacted. In supporting browsers, CSS3 transitions are used to smoothly animate between these colours. Lots of small enhancements such as this were implemented, ensuring the experience works for all browsers but is then enhanced in modern browsers that support a wider amount of features.</p>
      <!-- POTENTIAL TEXT
      <h2>Conclusion</h2>
      <p>ViewPoint Cloud is the first project where I had </p> -->
      <hr>
      <p><a class="button action" title="Contact" href="#contact">Hire Ian to work on your project</a></p>
    </div>
  </article>
</div>
