<div class="intro" style="background-color: #29b783; color: #fff;">
  <div class="intro-content">
    <div class="featured-image">
      <a href="http://skreens.com/">
        <img  id="skreens-logo" src="img/skreensTV.png" >
      </a>
    </div>      
    <header class="with-image">
      <div class="header-divider" style="border-left-color: #fff">
        <h1 class="project-title"><a  href="http://skreens.com/">Skreens</a></h1>
        <h2 class="project-subtext">HTML5, CSS3, Responsive, Design, jQuery</h2>
      </div>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="content">
      <div class="project-banner" class="picture-container">
          <a href="https://youtu.be/ZUEgsr8nPEo"><img src="img/skreens-appstore.jpg"  class="desktop-img"></a>
          
      </div>
      <p class="project-description2">Skreens blends internet, gaming consoles, PCs and any other HDMI-friendly device.
        <!-- <iframe src="https://youtu.be/ZUEgsr8nPEo"></iframe> -->
      </p>
      <!-- <iframe src="https://youtu.be/ZUEgsr8nPEo"></iframe> -->
      <h2>My role</h2>
      <p class="">
        Designed & developed multiple remote controls, layouts, and an App Store for Skreens.
        Can be controlled through a tablet, smart phone, or web enabled device.
      </p>
      <a class="skreens-style" href=" https://www.youtube.com/watch?v=ttG8I67ljvI">Video Demo</a> of the App Store I created

      <hr>
      <p><a class="button action" title="Contact" href="#contact">Hire Ian to work on your project</a></p>
    </div>
  </article>
</div>
