<div class="intro" style="background-color: #00a7e1; color: #fff;">
  <div class="intro-content">
    <div class="featured-image">
      <a href="http://viewpointcloud.com/">
        <img id="viewpoint-logo" src="img/viewpoint-logo.png" >
      </a>
    </div>      
    <header class="with-image">
      <div class="header-divider" style="border-left-color: #fff">
        <h1 class="project-title"><a href="http://viewpointcloud.com/"  >ViewPoint Cloud</a></h1>
        <h2 class="project-subtext">HTML5, CSS3, JQuery, Javascript, Ember, Handlebars</h2>
      </div>
    </header>
  </div>
</div>
<div class="two-column group">
  <article>
    <div class="content">
      <div href="http://viewpointcloud.com/" class="project-banner vp-banner" class="picture-container">
        <a href="http://viewpointcloud.com/"  >
          <img src="img/vpc-desktop.jpg"  class="desktop-img">
          <img src="img/vpc-mobile.jpg"  class="mobile-img">        
        </a>
      </div>
      <p class="project-banner-caption-text">The ViewPoint Cloud site viewed in large and small layouts</p>
      <p class="project-description2">ViewPoint Cloud offers simple, flexible online permitting for citizens and officials. ViewPoint Cloud comes preloaded with the most common permits and licenses, ready to go. Create new ones in minutes with the form and workflow designers. Ditch paper forms and let citizens apply online from anywhere. Manage the entire application process from one simple online system and let citizens track every step of the way in real time. See data on permits, inspections, revenue and more. Drill down from a high-level dashboard to detailed list or map views. And export your data to Excel for easy processing.
      </p>
      <h2>My Role</h2>
      <p class="">
        Constructed from the ground up with mobile in mind. ViewPoint Cloud was my first dive into the world of Ember.js and utilizing the framework to build a large scale application.

        With the layouts built, I then began progressively enhancing the site to add features to give the site a unique experience, allowing users to glide through a seemingly simple form designer. jQuery was used and then slowly replaced by faster CSS3 animations. Handlebars.js gave me an elegant solution for controlling classes/ids on the DOM & with displaying large lists while only using a few lines of HTML5.

        Stackoverflow & JSBin became my closest friends as I stumbled upon the invetable bugs that will occur in a newer framework like Ember.js

        Utilizing Asana, the Scrum methodology helped our team stay flexible and work efficiently as new goals arose.
      </p>


      <hr>
      <p><a class="button action" title="Contact" href="#contact">Hire Ian to work on your project</a></p>
    </div>
  </article>
</div>
